
body {
    overflow: hidden;
}

.Summary {
    box-sizing: border-box;
    display: flex;
    margin: 2vh;
    height: 96vh;
}

.Summary-button {
    height: 40px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.summary-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.summary-right {
    display: flex;
    width: 50%;
}

.summary-right-sub {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

/********************/

.MeetRecording video {
    width: 100%;
    border-radius: 5px;
}

/********************/

.Messages {
    width: 50%;
    margin: 0px 10px;
    overflow-y: auto;
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 10px;
}

.Messages p {
    font-size: larger;
    font-weight: 500;
    margin-top: 5px;
}

/********************/

.MeetSearchBar {
    height: 50vh;
    overflow-y: auto;
}

.meetSearchBar-div1 {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.MeetSearchBar input {
    height: 25px;
    border: none;
    font-size: 13px;
}

.MeetSearchBar button {
    border: none;
    background-color: white;
}

/********************/

.MeetTranscribe div {
    height: 50vh;
    overflow-y: auto;
}

/********************/

.MeetSummary {
    height: 40%;
    overflow-y: auto;
}

/********************/

